.scrollStyled::-webkit-scrollbar {
  width: 10px;
  background-color: #82828252;
  border-radius: 10px;
}

.scrollStyled::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #0EA5E9;
  border-radius: 10px;
}